<h1> User Dashboard </h1>


<h5>
  Welcome 
  <%= @user.email %>
  <br>
  Here are your sent invites:
  <br>
  <br>
  <% @user.invites.each do |invite| %>
    <%=invite["message"]%><br>
    <a href="/invites/<%=invite["token"]%>"><%=invite["recipient"]%></a><br>
    <%=invite["status"]%>
    <%=invite["token"]%>
    <br><br>
  <%end%>
</h5>

<%= button_to( "Log Out", :action => "destroy", :controller => "sessions") %>
